$black: #000000;
$white: #ffffff;
$grey-blk: rgba(145, 143, 143, 0.377);
$normal-margin: 1em;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red-bar {
    background: red !important;
    border: 2px solid $white !important;
}

.blue-bar {
    background: lime !important;
}

.green-bar {
    background: yellow !important;
}

.orange-bar {
    background: blueviolet !important;
}

.bar-section {
    background: $black;
    border-top: 2px solid rgb(255, 193, 47);
    position: sticky;
    top: 0;
    z-index: 100;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3em 1em;
}

.right-arw {
    width: 9px;
    height: 9px;
    border: none;
    border-bottom: 2px solid $white;
    border-left: 2px solid $white;
    display: inline-block;
    transform: rotate(45deg);
}

.back-to-editor a {
    color: $white;
    text-decoration: none;
    font-weight: 300;
}

.color-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1em;
    
    & .colors {
        cursor: pointer;
        width: 2em;
        height: 2em;
        background: $white;
        border-radius: 100vmax;
        position: relative;
    }

}

.choose-color {
    text-align: center;
    background: linear-gradient(to bottom, yellow, orange, red, violet, deepskyblue) !important;

    & .plus {
        font-size: 25px;
        font-weight: bold;
        color: $white;
    }
}

.btn-color {
    $color: #008cff;
    background: $color;
    padding: .4em;
    color: $white;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.export-btn span {
    position: relative;
    bottom: .2em;
}

// actual deisgn part 


.designs{
    display: flex;
    gap: 1em;
    height: max-content;
    // position: fixed; // its because main page is scroll all things
    top: 3em; //remove it for see bottom side resume info
}
.aside-templates{
    max-height: 100vh; 
    overflow: scroll;
    border-right: 2px solid black;
    padding: 1em;
    max-width: fit-content;
    background-color: whitesmoke;

    & .templates{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;

        & .temp-img{
            max-width: 200px;
        }
        & .temp-img:hover{
            border: 3px solid deepskyblue;
        }
    }
}
.template-design{
    max-height: 100vh;
    overflow: scroll;
}


@media screen and (max-width: 1110px) {
    .aside-templates{
        padding: 0;
        & .templates{
            grid-template-columns: 1fr;
        }
    }
}
@media screen and (max-width: 993px) {
    .aside-templates{
    & .templates{
        & .temp-img{
            max-width: 150px;
        }
    }
}

}

@media screen and (max-width: 650px) {
    .aside-templates{
        border: none;
        & .templates{
            display: none;
        }
    }
    .designs{
        gap: 0;
        margin: 1em;
    }
}
@media screen and (max-width: 579px) {
    .color-list{
        display: none;
        gap: .5em;
    }
}