$blue-color : #166ce5;
$red : #fa3200e7;
$grey-black-mix:#363535;
$para-msg-color: #9f93ad;
$skills-option-color: #4d0a9a;
$data-input-color: rgb(244, 242, 242);
$white: #ffff;


// resume genartor button color 
$gen-resume-btn-bgcolor: #ff8800;

